.root {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--ds-color-border-default);
  color: var(--ds-color-text-body);
  font-family: var(--ds-font-family-mono);
  padding: 1px 6px;
  border-radius: var(--ds-radius-sharp);
}
.sm {
  font-size: var(--ds-font-size-xs);
  padding: 0px 4px;
}
.md {
  font-size: var(--ds-font-size-sm);
}
